#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Pastikan tiada margin pada body */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #000; /* Hitam pekat */
}

a {
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #fff !important;
  opacity: 0.7;
}